<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a routerLink="/" class="header-section">Healthcare App</a></span>
      <span class="example-spacer"></span>
      <button mat-flat-button color="primary">
        <a routerLink="/analytics" class="header-section">
          Ανάλυση Δεδομένων</a>
      </button>
      <button mat-flat-button color="primary">
        <a routerLink="/prediction" class="header-section">
          Πρόβλεψη</a>
      </button>
    </mat-toolbar-row>
  
  </mat-toolbar>
  