.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-color: grey;
    background-size: cover;
  }
  
  .header-section {
    color: white;
    text-decoration: none;
  }
  
  .header-section:hover {
    color: white;
    text-decoration: none;
  }
  
  .myDiv {
    border: 5px outset rgb(70, 91, 198);
    background-color: lightblue;    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }