<app-header></app-header>
<div class="margin-top:10%"></div>
<div>
  <h1 style="text-align: center;">Healthcare System for Diabetes Patient</h1>
  <img src="../../../assets/diabetes.jpg" class="center">
  <br><br>
  <div class="myDiv">
    <h2>Analytics Service</h2>
    <p>Used different scripts and execute results with plots or dataframe to analyze from expert in domain of healthcare.</p>
  </div>
  <br><br>
  <div class="myDiv">
    <h2>Classification Service (Prediction Event)</h2>
    <p>Used analytics and Machine Learning Models in case of diabetes patients.</p>
  </div>
  <br><br>
</div>
<div class="margin-top:10%"></div>
<app-footer></app-footer>